<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
<ui:composition template="layout.xhtml">
    <ui:define name="content">
        <h:form id="employeerForm">
            <p:panel header="employee Details">
                <h:panelGrid columns="1">
                    <h:message for = "firstname" style = "color:red" />
                    <p:outputLabel for="firstname" value="First Name: " />
                    <p:inputText id="firstname" required="true"  value="#{employeeController.employee.firstName}" >
                        <f:validateLength minimum="2" />
                    </p:inputText>
                    <h:message for = "lastName" style = "color:red" />
                    <p:outputLabel for="lastName"  value="Last Name: "/>
                                       <p:inputText id="lastName" required="true" value="#{employeeController.employee.lastName}" >
                        <f:validateLength minimum="2" /></p:inputText>
                    <p:outputLabel for="emailId" value="emailId: " />
                    <p:inputText id="emailId" value="#{employeeController.employee.emailId}" />
                    <p:outputLabel for="phone_number" value="phone number: " />
                    <p:inputText id="phone_number" value="#{employeeController.employee.phone_number}" >
                        <p:keyFilter mask="num" />
                    </p:inputText>
                    <p:outputLabel for="department_id" value="department_id: " />
                    <p:inputText id="department_id" value="#{employeeController.employee.department}" />
                    <p:outputLabel for="salary" value="salary: " />
                    <p:inputText id="salary" value="#{employeeController.employee.salary}" >
                    <p:keyFilter regEx="/^[1-9]\d*$/" />
                    </p:inputText>
                    <p:outputLabel for="manager_id" value="manager_id: " />
                    <p:inputText id="manager_id" value="#{employeeController.employee.manager_id}" />
                    <h:commandButton value="Save" action="#{employeeController.save}" />
                </h:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
</html>
