<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="layout.xhtml">
    <ui:define name="content">
        <h:form id="form">
            <p:panel header="Employee List">
                <p:dataTable id="table" var="employee" value="#{employeeList.employees}" rows="10" paginator="true" editable="true">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Id" />
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{employee.employee_id}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{employee.employee_id}" style="width:100%"/>
                            </f:facet>
                        </p:cellEditor>

                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="First Name" />
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{employee.firstName}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{employee.firstName}" style="width:100%"/>
                            </f:facet>
                        </p:cellEditor>

                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Last Name" />
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{employee.lastName}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{employee.lastName}" style="width:100%"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Department ID" />
                        </f:facet>
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{employee.department}" />
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{employee.department}" style="width:100%"/>
                            </f:facet>
                        </p:cellEditor>

                    </p:column>
                    <p:column>
                        <f:facet name="header">Action</f:facet>
                        <h:commandButton value="Delete" id="delete" action="#{employeeList.delete(employee)}" />
                    </p:column>
                    <p:column style="width:6rem">
                        <p:rowEditor editTitle="Edit Row" cancelTitle="Cancel Edit" saveTitle="Save Row"/>
                    </p:column>
                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
</html>